<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>레게노</title>
</head>
<body>
    <input type="text" class="fingerName">
    <input type="button" value="야발" class="submit">
</body>
</html>